openapi: 3.0.1
info:
  title: Open Data Portal (ODP) API
  description: The Open Data Portal (ODP) API allows you to extract USPTO data at no cost - with several ways to do it. To learn about the ODP API Rate Limits, please visit to the <a href="https://data.uspto.gov/apis/api-rate-limits" target="_blank">API Rate Limits page</a>. <br><br> <b>Before proceeding</b>, you must have an ODP API key in order to access these Swagger UI resources. Once you have obtained an API key, you can pass the API key into a REST API call in the x-api-key header of the request. For more details and steps to generate an API key visit to the <a href="https://data.uspto.gov/apis/getting-started" target="_blank">Getting Started page</a>.<br><br>For example, the request to access patent data for an application might look like as below.<br><br><code>curl -X "GET" "https://api.uspto.gov/api/v1/patent/applications/14412875" -H "X-API-KEY:YOUR_API_KEY"</code><br><br></br><code>curl -X "POST" "https://api.uspto.gov/api/v1/patent/applications/search" -H "X-API-KEY:YOUR_API_KEY" -d "{\\"q\\":\\"applicationMetaData.applicationTypeLabelName:Utility\\"}"</br></code>
  contact:
    email: data@uspto.gov
    url: https://data.uspto.gov/apis/getting-started
    name: USPTO
  x-oas-url: https://data.uspto.gov/swagger/swagger.yaml
  x-product-page-url: https://data.uspto.gov/apis/getting-started
  x-ipdomain: ["Patent","Common","Trademark"]
  x-functionality: ["Search"]
  version: 1.0.0
x-content-language: en-US
servers:
  - url: https://api.uspto.gov
security:
  - ApiKeyAuth: []
tags:
  - name: Patent Search
    description: Search patent data by supplying query parameter or json request. Get data of a specific application or a section of an application
  - name: Bulk DataSets
    description: Bulk Dataset Directory provides a single repository for raw public bulk data. It contains research data from the office of the Chief Economist.
  - name: Petition Decision Search
    description: Petition Decision Search
  - name: 'PTAB Trials'
    description: 'PTAB Trials APIs: proceedings, documents and decisions.'
  - name: PTAB Trials:Proceedings
    description: All public PTAB Trial proceedings
  - name: PTAB Trials:Decisions
    description: All public decisions filed in PTAB Trials
  - name: PTAB Trials:Documents
    description: All public documents filed in PTAB Trials
  - name: PTAB Appeals
    description: All public decisions filed in PTAB Appeals
  - name: PTAB Interferences
    description: All public decisions filed in PTAB Interferences

paths:
  /api/v1/petition/decisions/search:

    x-ip-domain: Patent
    x-service-type: ["Search","Dissemination"]
    x-content-type: Petition Decisions
    post:
      tags:
        - Petition Decision Search
      summary: Search petition decision applications by supplying json payload

      requestBody:
        description: Petition Decision data search request json payload. Fields in the request is optional
        content:
          application/json:
            schema:
              $ref: './odp-common-base.yaml#/components/schemas/PetitionDecisionSearchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './odp-common-base.yaml#/components/schemas/PetitionDecisionResponseBag'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: './odp-common-base.yaml#/components/schemas/Response400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                 $ref: './odp-common-base.yaml#/components/schemas/Response403'

        '404':
          description: Not Found
          content:
            application/json:
              schema:
                 $ref: './odp-common-base.yaml#/components/schemas/Response404'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: './odp-common-base.yaml#/components/schemas/Response500'
    get:
      tags:
        - Petition Decision Search
      summary: Petition decision application search by supplying query parameters
      description: Query parameters are optional. When no query parameters supplied, top 25 petition decisions are returned
      parameters:
        - name: q
          in: query
          description: A search query string which accepts boolean operators (AND, OR, NOT), wildcards (*), and exact phrases ("").
          allowReserved: true
          schema:
            type: string
          examples:
            No Search Text:
              summary: No conditions
              description: Empty, No conditions
              value:
            Exact Phrase:
              value: Denied
              description: Search text 'Denied' across the searchable data fields
            Exact Phrase AND:
              value: Denied AND Patented
              description: Search text 'Denied' AND 'Patented' across all searchable fields within data set
            Search By Field Value:
              value: applicationNumberText:11512156
              description: Search data for application number 11512156
            Boolean OR:
              value: decisionTypeCodeDescriptionText:Denied OR finalDecidingOfficeName:OFFICE
              description: Search data where decisionTypeCodeDescriptionText is Denied Or finalDecidingOfficeName is OFFICE
            Boolean AND:
              value: decisionTypeCodeDescriptionText:Denied AND finalDecidingOfficeName:OFFICE
              description: Search data where decisionTypeCodeDescriptionText is Denied AND finalDecidingOfficeName is OFFICE
            Wildcard:
              value: firstApplicantName:BRANT*
              description: Search data where firstApplicantName has text BRANT followed by any character
            Range:
              value: petitionMailDate:[2021-08-04 TO 2021-09-04]
              description: Search data where petitionMailDate range is between 2020-08-04 TO 2022-08-04
            Comparison:
              value: decisionTypeCode:>524
              description: Search all records where decisionTypeCode is greater than 524
        - name: sort
          in: query
          description: field to be sorted followed by sort order
          schema:
            type: string
          examples:
            No Sort:
              description: No sort option go by default sort
              value:
            Ascending:
              value: petitionMailDate asc
              description: Sort by petitionMailDate ascending order
            Descending:
              value: petitionMailDate desc
              description: Sort by petitionMailDate descending order
        - name: offset
          in: query
          description: Position in the dataset of a particular record
          schema:
            type: integer
            minimum: 0
          example: 0
        - name: limit
          in: query
          description: Limit the number of results returned
          schema:
            type: integer
            minimum: 1
          example: 25
        - name: facets
          in: query
          description: List of fields names to be faceted upon separated by comma (<b>,</b>)
          schema:
            type: string
          examples:
            No Facets:
              value:
              description: No faceting option
            Facets Example 1:
              value: businessEntityStatusCategory,decisionPetitionTypeCode,decisionPetitionTypeCodeDescription,decisionTypeCode,decisionTypeCodeDescriptionText,firstApplicantName,finalDecidingOfficeName,actionTakenByCourtNamepetitionIssueConsideredText,prosecutionStatusCodeDescriptionText,petitionIssueConsideredTextBag,courtActionIndicator,ruleBag,statuteBag
              description: Faceting by businessEntityStatusCategory,decisionPetitionTypeCode,decisionPetitionTypeCodeDescription,decisionTypeCode,decisionTypeCodeDescriptionText,firstApplicantName,finalDecidingOfficeName,actionTakenByCourtNamepetitionIssueConsideredText,prosecutionStatusCodeDescriptionText,petitionIssueConsideredTextBag,courtActionIndicator,ruleBag,statuteBag
        - name: fields
          in: query
          description: Limits the response by specifying fields from dataset should be included.
          schema:
            type: string
          examples:
            All Fields:
              value:
              description: Returns all available data set fields
            Include Fields:
              value: petitionDecisionRecordIdentifier,patentNumber,firstApplicantName,petitionMailDate,decisionPetitionTypeCode,decisionTypeCodeDescriptionText,decisionMailDate,finalDecidingOfficeName,decisionDate,petitionIssueConsideredTextBag,technologyCenter
              description: Include only petitionDecisionRecordIdentifier,patentNumber,firstApplicantName,petitionMailDate,decisionPetitionTypeCode,decisionTypeCodeDescriptionText,decisionMailDate,finalDecidingOfficeName,decisionDate,petitionIssueConsideredTextBag,technologyCenter in search result
        - name: filters
          in: query
          description: Filter data by supplying filter parameter. Provide field name and its value
          schema:
            type: string
          examples:
            No Filter:
              value:
              description: No filter
            Filters Example 1:
              value: decisionTypeCodeDescriptionText DENIED
              description: Filter data where decisionTypeCodeDescriptionText value is DENIED
            Filters Example 2:
              value: businessEntityStatusCategory 'Small'
              description: Filter data where businessEntityStatusCategory value is 'Small'
            Filters Single Value:
              value: decisionDate 2023-10-18
              description: Filter data where decisionDate value is 2023-10-18
            Filters Multi Value:
              value: ruleBag 1.76,1.78
              description: Filter data where ruleBag value is 1.76 or 1.78
        - name: rangeFilters
          in: query
          description: Filter the data by supplying range of values. Applicable for number and date type fields.
          schema:
            type: string
          examples:
            No Range Filter:
              value:
              description: No range filter
            Date Range Filter:
              value: petitionMailDate 2021-01-01:2025-01-01
              description: Filter data where petitionMailDate is between 2021-01-01 and 2025-01-01
            Number Range Filter:
              value: ruleBag 1.76:1.90
              description: Filter data where ruleBag is between 1.76 and 1.90

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './odp-common-base.yaml#/components/schemas/PetitionDecisionResponseBag'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: './odp-common-base.yaml#/components/schemas/Response400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: './odp-common-base.yaml#/components/schemas/Response403'

        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: './odp-common-base.yaml#/components/schemas/Response404'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: './odp-common-base.yaml#/components/schemas/Response500'

  /api/v1/petition/decisions/search/download:
    x-ip-domain: Patent
    x-service-type: ["Search","Dissemination"]
    x-content-type: Petition Decisions
    post:
      tags:
        - Petition Decision Search
      summary: Download petition decision data by supplying json payload
      requestBody:
        description: Petition decision data search request json payload. Fields in the request is optional
        content:
          application/json:
            schema:
              $ref: './odp-common-base.yaml#/components/schemas/PetitionDecisionDownloadRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './odp-common-base.yaml#/components/schemas/PetitionDecisionResponseBag'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                 $ref: './odp-common-base.yaml#/components/schemas/Response400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                 $ref: './odp-common-base.yaml#/components/schemas/Response403'

        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: './odp-common-base.yaml#/components/schemas/Response404'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: './odp-common-base.yaml#/components/schemas/Response500'
    get:
      tags:
        - Petition Decision Search
      summary: Petition decision application search by supplying query parameters
      description: Query parameters are optional. When no query parameters supplied, top 25 petition decisions are returned
      parameters:
        - name: q
          in: query
          description: A search query string which accepts boolean operators (AND, OR, NOT), wildcards (*), and exact phrases ("").
          allowReserved: true
          schema:
            type: string
          examples:
            No Search Text:
              summary: No conditions
              description: Empty, No conditions
              value:
            Exact Phrase:
              value: Denied
              description: Search text 'Denied' across the searchable data fields
            Exact Phrase AND:
              value: Denied AND Patented
              description: Search text 'Denied' AND 'Patented' across all searchable fields within data set
            Search By Field Value:
              value: applicationNumberText:11512156
              description: Search data for application number 11512156
            Boolean OR:
              value: decisionTypeCodeDescriptionText:Denied OR finalDecidingOfficeName:OFFICE
              description: Search data where decisionTypeCodeDescriptionText is Denied Or finalDecidingOfficeName is OFFICE
            Boolean AND:
              value: decisionTypeCodeDescriptionText:Denied AND finalDecidingOfficeName:OFFICE
              description: Search data where decisionTypeCodeDescriptionText is Denied AND finalDecidingOfficeName is OFFICE
            Wildcard:
              value: firstApplicantName:BRANT*
              description: Search data where firstApplicantName has text BRANT followed by any character
            Range:
              value: petitionMailDate:[2021-08-04 TO 2021-09-04]
              description: Search data where petitionMailDate range is between 2020-08-04 TO 2022-08-04
            Comparison:
              value: decisionTypeCode:>524
              description: Search all records where decisionTypeCode is greater than 524
        - name: sort
          in: query
          description: field to be sorted followed by sort order
          schema:
            type: string
          examples:
            No Sort:
              description: No sort option go by default sort
              value:
            Ascending:
              value: petitionMailDate asc
              description: Sort by petitionMailDate ascending order
            Descending:
              value: petitionMailDate desc
              description: Sort by petitionMailDate descending order
        - name: offset
          in: query
          description: Position in the dataset of a particular record
          schema:
            type: integer
            minimum: 0
          example: 0
        - name: limit
          in: query
          description: Limit the number of results returned
          schema:
            type: integer
            minimum: 1
          example: 25
        - name: fields
          in: query
          description: Limits the response by specifying fields from dataset should be included.
          schema:
            type: string
          examples:
            All Fields:
              value:
              description: Returns all available data set fields
            Include Fields:
              value: petitionDecisionRecordIdentifier,patentNumber,firstApplicantName,petitionMailDate,decisionPetitionTypeCode,decisionTypeCodeDescriptionText,decisionMailDate,finalDecidingOfficeName,decisionDate,technologyCenter,businessEntityStatusCategory
              description: Include only petitionDecisionRecordIdentifier,patentNumber,firstApplicantName,petitionMailDate,decisionPetitionTypeCode,decisionTypeCodeDescriptionText,decisionMailDate,finalDecidingOfficeName,decisionDate,technologyCenter,businessEntityStatusCategory in search result
        - name: filters
          in: query
          description: Filter data by supplying filter parameter. Provide field name and its value
          schema:
            type: string
          examples:
            No Filter:
              value:
              description: No filter
            Filters Example 1:
              value: decisionTypeCodeDescriptionText DENIED
              description: Filter data where decisionTypeCodeDescriptionText value is DENIED
            Filters Example 2:
              value: businessEntityStatusCategory 'Small'
              description: Filter data where businessEntityStatusCategory value is 'Small'
            Filters Single Value:
              value: decisionDate 2023-10-18
              description: Filter data where decisionDate value is 2023-10-18
            Filters Multi Value:
              value: ruleBag 1.76,1.78
              description: Filter data where ruleBag value is 1.76 or 1.78
        - name: rangeFilters
          in: query
          description: Filter the data by supplying range of values. Applicable for number and date type fields.
          schema:
            type: string
          examples:
            No Range Filter:
              value:
              description: No range filter
            Date Range Filter:
              value: petitionMailDate 2021-01-01:2025-01-01
              description: Filter data where petitionMailDate is between 2021-01-01 and 2025-01-01
            Number Range Filter:
              value: ruleBag 1.76:1.90
              description: Filter data where ruleBag is between 1.76 and 1.90

        - name: format
          in: query
          description: Download Format
          schema:
            type: string
          examples:
            json:
              value: json
            csv:
              value: csv
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './odp-common-base.yaml#/components/schemas/PetitionDecisionResponseBag'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: './odp-common-base.yaml#/components/schemas/Response400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
               $ref: './odp-common-base.yaml#/components/schemas/Response403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: './odp-common-base.yaml#/components/schemas/Response404'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: './odp-common-base.yaml#/components/schemas/Response500'
                
  /api/v1/petition/decisions/{petitionDecisionRecordIdentifier}:
    x-ip-domain: Patent
    x-service-type: ["Search","Dissemination"]
    x-content-type: Petition Decisions
    get:
      tags:
        - Petition Decision Search
      summary: Petition decision application data for a provided application number
      parameters:
        - name: petitionDecisionRecordIdentifier
          in: path
          description: Petition Decision number
          schema:
            type: string
          required: true
          examples:
            first:
              value: 6779f1be-0f3b-5775-b9d3-dcfdb83171c3
              summary: Petition decision record identifier
              description: Petition decision number
        - name: includeDocuments
          in: query
          description: This is a true or false...yes to include petition decision documents in the response and no to omit the petition decision documents from the response 
          schema:
            type: boolean
          example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './odp-common-base.yaml#/components/schemas/PetitionDecisionIdentifierResponseBag'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: './odp-common-base.yaml#/components/schemas/Response400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: './odp-common-base.yaml#/components/schemas/Response403'

        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: './odp-common-base.yaml#/components/schemas/Response404'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: './odp-common-base.yaml#/components/schemas/Response500'
                
components:

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY

  ############################
  # SCHEMAS (aliases only)
  ############################
  schemas:
    # Shared request bodies (search/download)
    PatentSearchRequest:
      $ref: ./odp-common-base.yaml#/components/schemas/PatentSearchRequest
    PatentDownloadRequest:
      $ref: ./odp-common-base.yaml#/components/schemas/PatentDownloadRequest
    PatentDataResponse:  
      $ref: ./odp-common-base.yaml#/components/schemas/PatentDataResponse
    ApplicationMetaData:  
      $ref: ./odp-common-base.yaml#/components/schemas/ApplicationMetaData
    PatentTermAdjustment: 
      $ref: ./odp-common-base.yaml#/components/schemas/PatentTermAdjustment
    Assignment:
      $ref: ./odp-common-base.yaml#/components/schemas/Assignment
    RecordAttorney:  
      $ref: ./odp-common-base.yaml#/components/schemas/RecordAttorney
    ParentContinuityData:  
      $ref: ./odp-common-base.yaml#/components/schemas/ParentContinuityData
    ChildContinuityData:  
      $ref: ./odp-common-base.yaml#/components/schemas/ChildContinuityData
    ForeignPriority:  
      $ref: ./odp-common-base.yaml#/components/schemas/ForeignPriority
    EventData:
      $ref: ./odp-common-base.yaml#/components/schemas/EventData
    DocumentBag:
      $ref: ./odp-common-base.yaml#/components/schemas/DocumentBag
    PGPubFileMetaData:
      $ref: ./odp-common-base.yaml#/components/schemas/PGPubFileMetaData
    GrantFileMetaData:
      $ref: ./odp-common-base.yaml#/components/schemas/GrantFileMetaData
    StatusCodeSearchResponse:
      $ref: ./odp-common-base.yaml#/components/schemas/StatusCodeSearchResponse   
    # BulkData
    BdssResponseProductBag:
      $ref: ./odp-common-base.yaml#/components/schemas/BdssResponseProductBag

    # Petition Decision
    PetitionDecisionResponseBag:
      $ref: ./odp-common-base.yaml#/components/schemas/PetitionDecisionResponseBag
    PetitionDecisionIdentifierResponseBag:
      $ref: ./odp-common-base.yaml#/components/schemas/PetitionDecisionIdentifierResponseBag
   
    # Trial – Proceedings
    ProceedingDataResponse:
      $ref: ./trial-proceedings.yaml#/components/schemas/ProceedingDataResponse
    PatentTrialProceedingDataBag:
      $ref: ./trial-proceedings.yaml#/components/schemas/patentTrialProceedingDataBag

    # Trial – Documents
    DocumentDataResponse:
      $ref: ./trial-documents.yaml#/components/schemas/DocumentDataResponse
    PatentTrialDocumentDataBag:
      $ref: ./trial-documents.yaml#/components/schemas/patentTrialDocumentDataBag

    # Trial – Decisions
    DecisionDataResponse:
      $ref: ./trial-decisions.yaml#/components/schemas/DecisionDataResponse
    PatentTrialDecisionDataBag:
      $ref: ./trial-decisions.yaml#/components/schemas/patentTrialDecisionDataBag

    # Trial – Interferences (decisions)
    InterferenceDecisionDataResponse:
      $ref: ./trial-common.yaml#/components/schemas/InterferenceDecisionDataResponse

    # Appeals (decisions)
    AppealDecisionDataResponse:
      $ref: ./trial-appeal-decisions.yaml#/components/schemas/AppealDecisionDataResponse
    PatentAppealDataBag:
      $ref: ./trial-appeal-decisions.yaml#/components/schemas/patentAppealDataBag


  ############################
  # PARAMETERS (aliases only)
  ############################
    q:
      $ref: ./odp-common-base.yaml#/components/schemas/ParamQ
    sort:
      $ref: ./odp-common-base.yaml#/components/schemas/ParamSort
    offset:
      $ref: ./odp-common-base.yaml#/components/schemas/ParamOffset
    limit:
      $ref: ./odp-common-base.yaml#/components/schemas/ParamLimit
    facets:
      $ref: ./odp-common-base.yaml#/components/schemas/ParamFacets
    fields:
      $ref: ./odp-common-base.yaml#/components/schemas/ParamFields
    filters:
      $ref: ./odp-common-base.yaml#/components/schemas/ParamFilters
    rangeFilters:
      $ref: ./odp-common-base.yaml#/components/schemas/ParamRangeFilters
    format:
      $ref: ./odp-common-base.yaml#/components/schemas/ParamFormat

  ############################
  # RESPONSES (aliases only)
  ############################
    BadRequest:
      $ref: ./trial-common.yaml#/components/schemas/BadRequest
    Forbidden:
      $ref: ./trial-common.yaml#/components/schemas/Forbidden
    NotFound:
      $ref: ./trial-common.yaml#/components/schemas/NotFound
    Status413:
      $ref: ./trial-common.yaml#/components/schemas/Status413
    InternalError:
      $ref: ./trial-common.yaml#/components/schemas/InternalError

    
